.nav-link{
  color: cornflowerblue;
  font-size: 1.2rem;
  Padding: 0 1rem;
  
}
table{
  margin:2rem auto;
  border-top: 1px solid #E0E0E0;
  
}
td {
  color: green;
  font-size: 15px;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  
}

thead .tg-0lax{
  color: grey;
  font-weight: normal;
  margin-left: 15px;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}
thead .tg-0pky{
  font-weight: normal;
  border-right: 1px solid black;
  
}
tbody > tr:nth-child(2n) {
  background-color: rgb(225, 255, 237);
}
tbody > tr:nth-child(2n+1) {
  background-color: white;
}